//Colors

$dark-grey: #484A47;
$light-grey: #687D77;
$off-white: #ECEBF0;
$light-brown:  #C1CE96;
$brown:#353129;

// fonts
$itim: 'Itim', cursive;
$roboto: 'Roboto', sans-serif;


//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$ml-size: 1.8rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;